:host {
    height: 100%;

    .card {
        height: 100%;
        padding: 0px;

        mat-card-header {

            mat-card-title {
                margin-bottom: 0px;
                margin-top: 16px;

            }
        }

        mat-card-content {
            &.body-content {
                height: calc(100% - 53px);

                &.height-complete {
                    height: 100%;
                }
            }
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 5px 0px 5px;
            height: 48px;
            align-items: center;

            @media screen and (max-width: 600px) {
                flex-direction: column;
                height: auto;
            }

            &::ng-deep .mat-card-header-text {
                align-self: flex-start;
            }
            
            .content {
                @media screen and (max-width: 600px) {
                    align-self: flex-end;
                }
            }
        }

        .text {
            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }
}